<!-- Grupo 30 : Marcos Gago Rivas y Lidia González Martín-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="/css/estilosMainView.css">
  <link rel="stylesheet" id="hojaEstilosGama" href=<%=gama%>>
  <link rel="shortcut icon" href=<%=logo%>>
  <title>
    <%=titulo%>
  </title>
</head>

<body class="fondo">

  <header class="container fondocabecera justify-content-center">
    <!-- Aqui comienza el contenedor que contiene el logo y el texto de la cabecera  -->
    <div class="row ">
      <!--  Esta formado por 1 fila que contiene 1 columna de tamaño 2 para el logo y una de tamaño 8 para el texto  -->
      <div class="col-sm-2 ">
        <a href="/"><img src="<%=logo%>" alt="Icono Página no cargado" width="50" height="60"
            class="d-flex align-content-center justify-content-center">
        </a>
      </div>

      <div class="col-sm-1 ">
        <button type="button" class="btn botonInicioSesion mt-3" data-bs-toggle="modal"
          data-bs-target="#cambiarLogo">Cambiar logo </button>
      </div>

      <div class="col-sm-1 ">
        <button type="button" class="btn botonInicioSesion mt-3" id="cambiarGama"> Cambiar Modo</button>
      </div>

      <div class="col-sm-4 ">
        <h1 id="Titulo" class="textoCabecera d-flex align-items-center justify-content-center ">
          <%=titulo%>
        </h1>
      </div>
      <div class="col-sm-2 ">
        <button type="button" class="btn botonInicioSesion mt-3" data-bs-toggle="modal"
          data-bs-target="#cambiarTitulo">Cambiar Titulo </button>
      </div>
      <div class="col-sm-2 ">
        <form method="post" action="/user/logout" class="col-6">
          <button type="submit" class="btn botonInicioSesion mt-3 mb-3">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </header>

  <%-include('navAdmin.ejs')%>

    <section class="container justify-content-center mt-3">


      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="mb-3">
                <label for="direccion" class="form-label">Nueva Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresa tu nueva dirección" required>
              </div>
              <button type="submit" class="btn btn-primary" id ="guardarDireccion">Guardar Dirección</button>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h2 class="m-3">Configuración del sistema </h2>
          <!--Pongo el mensaje de error traido al hacer el render-->
          <img class="img-fluid h-75" src="/images/config.png" alt="Imagen de Error">
        </div>
      </div>


    </section>
    <%- include('footer.ejs') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

      <script src="js/configuracion.js"></script>

</body>

<!--Modal para cambiar el logo-->
<div class="modal fade" id="cambiarLogo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar Logo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <input type="file" id="logoInput" accept="image/*">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="guardarLogo">Guardar Logo</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para cambiar el titulo-->
<div class="modal fade" id="cambiarTitulo" tabindex="-1" aria-labelledby="modalTituloLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTituloLabel">Cambiar Título</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <!-- Input para ingresar el nuevo título -->
        <input type="text" class="form-control" id="nuevoTitulo" placeholder="Nuevo Título">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="guardarTitulo">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

</html>