<!-- Grupo 30 : Marcos Gago Rivas y Lidia González Martín-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/css/estilosMainView.css">
    <link rel="stylesheet" id = "hojaEstilosGama" href=<%=estilo%>>
  <link rel="shortcut icon" href="/images/logo.png">
  <title>PistasUCM</title>
</head>

<body class="fondo">
  <%- include('cabecera.ejs') %> 
  <section class="container justify-content-center mt-3">
    <!-- Contenedor encargado de almacenar la seccion donde apareceran los destinos disponibles -->
    <% if (error !=null) { %>
      <div class="container alert alert-danger text-center">

        <%= error %>
      </div>
      <% } %>
        <% if (exito !=null) { %>
          <div class="container alert alert-success text-center">
            <%= exito %>
          </div>
          <% } %>
            <div class="row">

              <!--Por cada destino traido por la base de datos pongo una tarjeta -->
              <%instalaciones.forEach(function(instalacion){ %>

                <div class="col-md-4 pb-4 d-flex">
                  <div class="card">
                    <div class="card-header CabeceraCarta">
                      <h5>
                        <%=instalacion.nombre%>
                      </h5> <!--Pongo el nombre del destino en cuestion-->
                    </div>
                    <img class="card-img-top " src=<%=instalacion.imagen%> alt="Imagen no cargada">
                    <!--Pongo la imagen del destino en cuestion-->
                    <div class="card-body">
                      <p class="card-text">
                        <%=instalacion.tipoReserva%>
                      </p>
                    </div>
                  </div>
                </div>

                <% }); %>



            </div>
  </section>

  <div class=" row-sm-8 align-content-center ">

    <%if(usuario){ %>
      
      <button type="button" class="btn botonInicioSesion mt-3" data-bs-toggle="modal"
      data-bs-target="#CrearInstalacion">Crear Instalacion </button>

        <!--##################################################-->

      <!--Cuadro Modal Crear instalacion-->

      <div class="modal fade" id="CrearInstalacion" data-bs-backdrop="static">
        <!-- data-bs impide que se cierre al pulsar fuera del modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">

            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Crear Instalacion</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- cuerpo del diálogo -->
            <div class="modal-body alert alert-primary">

              <form id="inicioSesion" method="post" action="/instalaciones/CrearInstalacion">
                <div class="mb-3 row">
                  <label for="correo" class="col-sm-3 col-form-label" id = "correoInicio">Nombre:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="nombre" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="clave" class="col-sm-3 col-form-label">TipoReserva:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="tipoReserva" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="clave" class="col-sm-3 col-form-label">Imagen Reserva:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="imagenReserva" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn botonsabermas" id = "idCrearinstalacion">Confirmar</button>
                    <button type="button" class="btn botonsabermas" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      
      <%}else{ %>

        <% } %>

  </div>

<%- include('footer.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>


  <script src="js/validarFormulario.js"></script>

</body>

</html>