<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" id="hojaEstilosGama" href=<%=gama%>>
    <link rel="stylesheet" href="/css/estilosMainView.css">
    <link rel="stylesheet" href="/css/estiloItinerario.css">

    <link rel="shortcut icon" id="logoPeque침o" href=<%=logo%>>
    <title>
        <%=titulo%>
    </title>
</head>

<body class="fondo">

    <%- include('cabecera.ejs') %>

        <section class="container justify-content-center ">
            <!-- Contenedor encargado de almacenar la seccion donde apareceran los destinos disponibles -->
            <div class="container pt-3 pb-2 mb-4 rounded d-flex justify-content-between" id="titulo">
                <h3 class="text-center">
                    <%=instalacion.nombre%>
                </h3>
                <h3 class="text-right">
                    <%=instalacion.tipoReserva%>
                        </h3>
            </div>

            <div class="container row pt-3 pb-2 mb-4 rounded d-flex ">
                <div class="col-7">
                    <img class="container d-block w-75" src=<%=instalacion.imagen%> alt="Imagen no cargada">
                </div>
                <!--adasfadsdfasdf-->
                <div class="col-5 mt-4 mb-2 text-center p-3 cajaInfo rounded">
            
                    <div id="itinerario" class="rounded w-100">
            
                      <!--Cada caja de comentario-->
                      <h4 class="cabeceraInfo mt-1 ">Itinerario</h4>
            
                      <!--Forms para un nuevo comentarios, los comentarios se ponen dinamicamente con ajax y jquery-->
                      <p id = "contenidoItinerario"></p>
            
                    </div>
            
                  </div>
<!--asdfasfasdfadsfasdf-->
            </div>


            <!--TODO-->
            <div class="row mt-4"> <!-- Boton modal hacer reserva -->

                <div class="col-sm-12 ">
                    <button type="button" class="btn botonbuscar mb-2 text-center w-100 p-3" data-bs-toggle="modal"
                        data-bs-target="#Reserva">Realizar Reserva</button>
                    <div class="modal fade" id="Reserva" data-bs-backdrop="static">
                        <!-- data-bs impide que se cierre al pulsar fuera del modal -->
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">

                                <!-- cabecera del di치logo -->
                                <div class="modal-header">
                                    <h4 class="modal-title text-center w-100">Formulario de Reserva</h4>
                                    <button type="button" class="btn-close botonbuscar"
                                        data-bs-dismiss="modal"></button>
                                </div>

                                <!-- cuerpo del di치logo -->
                                <div class="modal-body alert fondo">
                                    <div class="container-fluid">

                                        <!--Form lleva a /reservar y le pasa el id en la url-->
                                        <form id="reservaForm">

                                            <div class="mb-3 row">
                                                <label for="nombre"
                                                    class="col-md-2 col-form-label text-center">Nombre:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="nombreReserva"
                                                        name="nombre" required>
                                                </div>
                                                <label for="apellidos"
                                                    class="col-md-2 col-form-label text-center">Apellidos:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="apellidoReserva"
                                                        name="apellido" required>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="clave" class="col-sm-3 col-form-label text-center">Correo
                                                    Electr칩nico:</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" id="correoReserva"
                                                        name="correo" placeholder="correo@ejemplo.com" required>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label class="control-label col-sm-3 text-center"
                                                    for="fecha">Fecha:</label>
                                                <div class="col-sm-9">
                                                    <input type="date" id="fechaReserva" name="fecha"
                                                        class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="offset-sm-3 col-sm-9">
                                                    <button type="submit" class="btn botonbuscar"
                                                        id="idReservar">Confirmar</button>
                                                    <button type="button" class="btn botonbuscar"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <%- include('footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>

            <script src="/js/validarFormulario.js"></script>
            <script src="/js/comentarios.js"></script>
            <script src="/js/itinerario.js"></script>

</body>

</html>