<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" rel="stylesheet">
    <link rel="stylesheet" id="hojaEstilosGama" href=<%=gama%>>
    <link rel="stylesheet" href="/css/estilosMainView.css">
    <link rel="stylesheet" href="/css/estiloInstalaciones.css">

    <link rel="shortcut icon" id="logoPeque침o" href=<%=logo%>>
    <title>
        <%=titulo%>
    </title>
</head>

<body class="fondo">

    <%- include('cabecera.ejs') %>

        <section class="container justify-content-center mt-1 ">
            <!-- Contenedor encargado de almacenar la seccion donde apareceran la indormacion de la reserva -->
            <div class="container pt-3 pb-2 mb-4 rounded d-flex justify-content-between" id="titulo">
                <h1 class="text-center">
                    <%=instalacion.nombre%>
                </h1>
                <h1 class="text-right">
                    <%=instalacion.tipoReserva%>
                </h1>
            </div>

            <div class="container row pt-3 pb-2 mb-4 rounded d-flex justify-content-around ">
                <div class="col-6 d-flex justify-content-center align-items-center bg-white ">
                    <img class="container d-block border border-white p-0" src="<%=instalacion.imagen%>"
                        alt="Imagen no cargada">
                </div>

                <div class="col-5 text-center p-3 cajaInfo rounded text-center">
                    <div class="mx-auto">
                        <div class="rounded d-flex justify-content-around m-4">
                            <p class="text-center"> <strong>Hora de Apertura: </strong> </p>
                            <p id="horaIniInstalacion" class="text-center">
                                <%=instalacion.horaInicio%>
                            </p>
                        </div>
                        <div class="rounded d-flex justify-content-around  m-4">
                            <p class="text-center"> <strong>Hora de Cierre:</strong> </p>
                            <p id="horaFinInstalacion" class="text-center">
                                <%=instalacion.horaFin%>
                            </p>
                        </div>
                        <div class="rounded d-flex justify-content-around  m-4">
                            <p class="text-center"> <strong> Aforo :</strong></p>
                            <p class="text-center">
                                <%=instalacion.aforo%>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <%if(usuario){%>
                <!--CALENDARIO-->
                <div class="container fondoCalendario rounded pb-3 mx-auto" id="cuadranteCalendario">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">Calendario</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center d-flex align-items-center">
                            <div id="calendario" class="calendario mx-auto"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4"> <!-- Boton modal hacer reserva -->

                    <div class="col-sm-12 ">

                        <div class="modal fade" id="Reserva" data-bs-backdrop="static">
                            <!-- data-bs impide que se cierre al pulsar fuera del modal -->
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- cabecera del di치logo -->
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center w-100">Formulario de Reserva</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- cuerpo del di치logo -->
                                    <div class="modal-body alert alert-secondary">
                                        <div class="container-fluid">

                                            <!--Form lleva a /reservar y le pasa el id en la url-->
                                            <form id="reservaForm">

                                                <div class="mb-3 row">
                                                    <label for="nombreReserva"
                                                        class="col-md-2 col-form-label">Nombre:</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="nombreReserva"
                                                            name="nombre" value=" <%=usuario.nombre%> " readonly>
                                                    </div>
                                                    <label for="apellidoReserva"
                                                        class="col-md-2 col-form-label text-center">Apellidos:</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="apellidoReserva"
                                                            name="apellido"
                                                            value=" <%=usuario.apellido1%>  <%=usuario.apellido2%>"
                                                            readonly>
                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label for="correoReserva"
                                                        class="col-sm-3 col-form-label ">Correo:</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" id="correoReserva"
                                                            name="correo" placeholder="correo@ejemplo.com"
                                                            value=" <%=usuario.correo%> " readonly>
                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label class="control-label col-sm-3 "
                                                        for="fechaReserva">Fecha:</label>
                                                    <div class="col-sm-9">
                                                        <input type="date" id="fechaReserva" name="fecha"
                                                            class="form-control" required>
                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label for="horaInicioReserva" class="col-md-2 col-form-label">Hora
                                                        Inicio:</label>
                                                    <div class="col-md-4">
                                                        <input type="time" class="form-control" id="horaInicioReserva"
                                                            name="horaInicioReserva" required>
                                                    </div>
                                                    <label for="horaFinReserva"
                                                        class="col-md-2 col-form-label text-center">Hora
                                                        Fin:</label>
                                                    <div class="col-md-4">
                                                        <input type="time" class="form-control" id="horaFinReserva"
                                                            name="horaFinReserva" required>
                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <div class="offset-sm-3 col-sm-9">
                                                        <button type="submit" class="btn botonbuscar"
                                                            id="confirmarReserva">Confirmar</button>
                                                        <button type="button" class="btn botonbuscar"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-4 mb-3 text-center p-3 d-none rounded" id="historiales">
                            <div class="rounded w-100 m-2">
                                <!--Cada caja de -->
                                <h4 class="cabeceraInfo mt-1 " id="fechaListaReservas"></h4>

                                <div id="cajasHistorial" class="rounded w-100">
                                    <!--Aqui se meten cajitas con cada reserva con ajax-->

                                </div>
                            </div>

                            <div class="rounded w-100 mt-4">
                                <!--Cada caja de -->
                                <h4 class="cabeceraInfo mt-1 " id="ListaEspera"></h4>

                                <div id="cajasEsperas" class="rounded w-100">
                                    <!--Aqui se meten cajitas con cada reserva con ajax-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}else{%>
                    <h5 class="alert alert-warning">Inicia Sesi칩n para Reservar</h5>
                    <%}%>
        </section>

        <%- include('footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

            <script src="/js/validarFormulario.js"></script>
            <script src="/js/reserva.js"></script>
            <script src="/js/instalaciones.js"></script>
            <script src="/js/calendario.js"></script>

</body>

</html>