<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" id="hojaEstilosGama" href=<%=gama%>>
    <link rel="stylesheet" href="/css/estilosMainView.css">
    <link rel="stylesheet" href="/css/estilosMensajes.css">
    <link rel="shortcut icon" id="logoPequeño" href=<%=logo%>>
    <title>
        <%=titulo%>
    </title>
</head>

<body class="fondo">

    <%- include('cabecera.ejs') %>

    <div class="col-md-12  text-center bordecolumnaCabecera text-sm"><a href=# class="btn btn-lg botoncabecera"
        data-bs-toggle="modal" data-bs-target="#MandarMensaje">
        <h5>MandarMensaje</h5>
      </a></div>

      <div class="modal fade" id="MandarMensaje" data-bs-backdrop="static">
        <!-- data-bs impide que se cierre al pulsar fuera del modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Mandar Mensaje</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body alert alert-secondary">
      
              <form id="MandarMensaje">

                <div class="mb-3 row">
                  <label for="correoEmisor"
                      class="col-sm-3 col-form-label ">Correo Emisor:</label>
                  <div class="col-sm-9">
                      <input type="email" class="form-control" id="correoEmisor"
                          name="correo" placeholder="correo@ejemplo.com"
                          value=" <%=usuario.correo%> " readonly>
                  </div>
                </div>

                <div class="mb-3 row">
                    <label for="correoReceptor" class="col-sm-3 col-form-label">Correo Receptor:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="correo" id="correoReceptor" required>
                    </div>
                </div>
                 <div class="mb-3 row">
               <label for="cuerpoMensaje" class="col-md-3 col-form-label text-center"> Cuerpo del mensaje:</label>
                <div class="col-md-9">
                <textarea class="form-control" id="cuerpoMensaje" name="cuerpoMensaje" required></textarea>
                </div>
                </div>
                <div class="mb-3 row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" class="btn botonsabermas" id="idMandarMensaje">Confirmar</button>
                        <button type="button" class="btn botonsabermas" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
            </div>
          </div>
      
        </div>
      </div>

      <div class="row mt-4 mb-2  text-center p-3 zonamensajesRecibidos">

        <button id="botonMensajesRecibidos" class="btn text-center">Ver Mensajes recibidos</button>

        <div class="container text-center">
          <div class="col-8 mx-auto" id="mensajesRecibidos" class="rounded w-100">
      
              <div id="cajamensajesRecibidos" class="row mb-3 w-100">
                  <h3 class="text-center">Mensajes Recibidos</h3>
      
                  <% mensajes.forEach(function(mensaje) { %>
                      <% if (mensaje.correoReceptor === sesion.correo) { %>
                        <div class="row align-items-center text-center m-2 my-2">
                          <div class="col-12 cajamensaje d-flex flex-column">
                              <div class="d-flex justify-content-between align-items-center mb-1">
                                  <h5 class="mb-0"><%= mensaje.correoEmisor %></h5>
                                  <p class="mb-0"><em><%= mensaje.fecha %></em></p>
                              </div>
                              <p class="mb-0"><%= mensaje.cuerpoMensaje %></p>
                          </div>
                      </div>
                      <% } %>
                  <% }); %>
      
              </div>
          </div>
      </div>
        
        </div>

        <div id="cajasMensajesrecibidos" class="rounded w-100"></div>

      </div>

      </div>

      <div class="row mt-4 mb-2 text-center p-3 zonamensajesRecibidos">

        <button id="botonMensajesEnviados" class="btn text-center">Ver Mensajes Enviados</button>

        <div class="container text-center">
          <div class="col-8 mx-auto" id="mensajesEnviados" class="rounded w-100">
      
              <div id="cajamensajesRecibidos" class="row mb-3 w-100">
                  <h3 class="text-center">Mensajes Enviados</h3>
      
                  <% mensajes.forEach(function(mensaje) { %>
                      <% if (mensaje.correoEmisor === sesion.correo) { %>
                        <div class="row align-items-center text-center m-2 my-2">
                          <div class="col-12 cajamensaje d-flex flex-column">
                              <div class="d-flex justify-content-between align-items-center mb-1">
                                  <h5 class="mb-0"><%= mensaje.correoReceptor %></h5>
                                  <p class="mb-0"><em><%= mensaje.fecha %></em></p>
                              </div>
                              <p class="mb-0"><%= mensaje.cuerpoMensaje %></p>
                          </div>
                      </div>
                      <% } %>
                  <% }); %>
      
      
              </div>
          </div>
      </div>

      </div>

        <%- include('footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>

            <script src="/js/validarFormulario.js"></script>
            <script src="/js/reserva.js"></script>
            <script src="/js/mensajes.js"></script>
            <script src="/js/instalaciones.js"></script>

</body>

</html>